.btn-group button {
    background-color: #04AA6D; /* zelena pozadina*/
    border: 1px solid green; /* zelena granica */
    color: white; /* beli tekst */
    padding: 10px 24px; /* rastojanje */
    cursor: pointer; /* pokazivač */
    float: left; /* plutajući dugmići */
  }

  table, th, td {
    border: 1px solid;
  }

  td {
    text-align: center;
  }