<div class="navbar">
    <a href="https://www.metropolitan.ac.rs/">Univerzitet Metropolitan</a>
    <a href="https://www.facebook.com/UniverzitetMetropolitan/">Facebook</a>
    <div class="dropdown">
        <button class="dropbtn">Fakulteti
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="https://www.metropolitan.ac.rs/osnovne-studije/fakultet-informacionih-tehnologija/">FIT</a>
            <a href="https://www.metropolitan.ac.rs/osnovne-studije/fakultet-za-menadzment/">FAM</a>
            <a href="https://www.metropolitan.ac.rs/fakultet-digitalnih-umetnosti/">FDU</a>
        </div>
    </div>
</div>
