<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8" />
</head>

<body>
  <app-navbarcomponent></app-navbarcomponent>
  <div>
    <h1>{{pageheader}}</h1>
  </div>
  <div class="page-header">
    <div class="container">
      <h2>Rutiranje - primer</h2>
      <div class="navLinks">
        <a [routerLink]="['/student']">Komponenta student</a>
        ||
        <a [routerLink]="['/buttongroup']">ButtonGroup komponenta</a>
        ||
        <a [routerLink]="['/forma']">Forma</a>
        ||
        <a [routerLink]="['/di']">Angular DI</a>
        ||
        <a [routerLink]="['/http']">Angular HTTP</a>
        ||
        <a [routerLink]="['/ispiti']">Polozeni ispiti</a>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>

</html>